body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body > h1 {
    flex: 1 1;
    text-align: center;
}

.links ul {
    list-style: none;
}

.links li{
    padding: 1em;
}
